.menu{
    position: fixed;
    top: 0;
    left: -200%;
    transition: all 0.5s ease;
    background-color: #008080

}

.menu_ativo{
    transition: all 0.5s ease;
    background-color: #008080;
    width: 150px;
    height: clamp(550px, 6000px, 100vh);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    overflow: auto;
}
.link_menu{
    margin-left: .6rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    background: #008080;
    font-size: 18px;
    color: #ffffff;

}

.icone3{
    margin-right: 5px;
    background: #008080;
}

.redes_sociais{
    width: 80%;
    display: flex;
    justify-content: space-around;
    background-color: #008080;
    margin-bottom: 50px;
}

.icone4{
    background-color: #008080;
}