* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "montserrat", sans-serif;
}

:root{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Monda', sans-serif;
    font-size: 62.5%;
    background-color: aqua;
}